.game-page {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 57px;
}

.game-board-wrapper {
  background-color: #202020;
  padding: 12px;

  display: flex;
  width: fit-content;
  height: fit-content;

  align-self: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;

  border-radius: 4px;

  box-shadow: 0 4px 4px 0 #00000055;
}

.timers-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0;
  margin: 0;
  width: 100%;
}

.player-widgets-wrapper {
  height: 724px;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: space-between;
}
