.game-page {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-board-wrapper {
    background-color: #8F8F8F;
    padding: 12px;

    display: flex;
    width: fit-content;
    height: fit-content;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;

    border-radius: 4px;

    box-shadow: 0 4px 4px 0 #00000055;
}