.game-over-dialog {


    border: none;
    border-radius: 4px;
}   
.game-over-dialog-overlay {
    position: absolute;
    z-index: 100000;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw ;
    height: 100vh;
    backdrop-filter: blur(4px);
}

