.screen-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  backdrop-filter: blur(10px);

  display: flex;

  justify-content: center;
  align-items: center;
}

.game-over-screen {
  border-radius: 16px;
  background-color: gray;
  width: 450px;
  height: 650px;

  border: 2px solid lightgray;
}

.replay-button {
  box-sizing: border-box;
  border: none;
  border-radius: 12px;
  background-color: darkgray;
  box-shadow: 0px 8px 0px 0px black;
  &:hover {
    border: none;
    background-color: black;
  }
}
