.player-widget {
  width: 560px;

  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  padding: 20px;
  border-radius: 4px;

  background-color: #202020;

  box-shadow: 0 4px 4px 0 #00000040;

  .player-profile {
    display: flex;

    align-items: center;
    justify-content: center;

    border: 1px solid #444444;
    border-radius: 4px;
    width: 96px;
    height: 96px;

    .placeholder-logo {
      width: 48px;
      height: 48px;

      fill: #444444;
    }
  }
  .separator {
    width: 100%;
    border-color: #d9d9d9;
  }
  .player-data-wrapper {
    height: 98px;
    display: flex;
    flex: 1;
    flex-direction: column;

    align-items: flex-start;
    justify-content: center;

    gap: 4px;

    margin: 0;
    padding: 0;

    .pieces-wrapper {
      display: flex;
      flex-direction: row;
      height: 40px;
    }

    .name-wrapper {
      display: flex;

      flex-direction: row;

      align-items: center;
      justify-content: center;

      gap: 10px;
      padding: 4px 0;
      margin: 0;

      .name-text {
        font-family: "Open Sans", sans-serif;
        font-size: 20px;
        font-weight: 100;
        color: #d9d9d9;
      }

      hr {
        padding: 0;
        margin: 0;
        height: 16px;
        border: 0.5px solid #d9d9d9;
      }
    }
  }
}
