.board {
  position: absolute;
  display: flex;
  flex-direction: column;

  .row-wrapper {
    display: flex;
    flex-direction: row;
  }
}
.board-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 820px;
  height: 820px;
  .side-marker {
    width: 100%;
    height: 100%;
    transition: 1s;
    &-black {
      @extend .side-marker;
      background-color: black;
    }
    &-white {
      @extend .side-marker;
      background-color: white;
    }
  }
}
