@import "../utils";
@include font("Roboto Mono", "../../assets/RobotMono");
.square {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  &-light {
    background-color: bisque;
  }

  &-dark {
    background-color: gray;
  }
  .coordinate {
    font-family: "RobotoMono", monospace;
    position: absolute;
    line-height: 24px;
    font-size: 20px;
    user-select: none;

    &-row {
      @extend .coordinate;
      top: 6px;
      left: 6px;

      &-light {
        @extend .coordinate-row;
        color: gray;
      }
      &-dark {
        @extend .coordinate-row;
        color: bisque;
      }
    }
    &-col {
      @extend .coordinate;

      bottom: 6px;
      right: 6px;

      &-light {
        @extend .coordinate-col;
        color: gray;
      }
      &-dark {
        @extend .coordinate-col;
        color: bisque;
      }
    }
  }

  .possible-move {
    background-color: black;
    opacity: 50%;

    border-radius: 100%;
    transition: 300ms;

    &:hover {
      width: 60px;
      height: 60px;
    }

    &-attack {
      @extend .possible-move;
      width: 0;
      height: 0;
    }
    &-empty {
      @extend .possible-move;
      width: 40px;
      height: 40px;
    }
  }
}

.last-move {
  box-shadow: inset 0px 0px 49px -11px rgba(132, 231, 85, 1);
}
.attack {
  box-shadow: inset 0px 0px 49px -11px rgba(231, 85, 85, 1);
}

.corner-top-left {
  border-top-left-radius: 5px;
}
.corner-top-right {
  border-top-right-radius: 5px;
}
.corner-bottom-left {
  border-bottom-left-radius: 5px;
}
.corner-bottom-right {
  border-bottom-right-radius: 5px;
}
