$cell-size: 75px;

$color-side-white: #3c3c3c;
$color-side-black: #d9d9d9;

$interface-color-main-lighter: white;
$interface-color-main: #4a5759;
$interface-color-secondary: #003049;
$interface-color-accent: #94d2bd;

$interface-color-main-shaded: #1c2121;
$interface-color-secondary-shaded: #001b29;
$interface-color-accent-shaded: #30735d;

$background-color-main: #373737;
$background-color-secondary: #495057;

$box-shadow-color: #001219;
