@import "../../utils/style/utils";
@import "../../utils/style/variables";

@include font("Roboto Mono", "../../assets/RobotMono");
.square {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  width: $cell-size;
  height: $cell-size;
  overflow: visible;
  z-index: 0;
  &-light {
    background-color: $color-side-white;
  }

  &-dark {
    background-color: $color-side-black;
  }
  .coordinate {
    font-family: "RobotoMono", monospace;
    position: absolute;
    line-height: calc($cell-size/5);
    font-size: calc($cell-size/5);
    user-select: none;

    &-row {
      @extend .coordinate;
      top: calc($cell-size/20);
      left: calc($cell-size/20);

      &-light {
        @extend .coordinate-row;
        color: $color-side-black;
      }
      &-dark {
        @extend .coordinate-row;
        color: $color-side-white;
      }
    }
    &-col {
      @extend .coordinate;

      bottom: calc($cell-size/20);
      right: calc($cell-size/20);

      &-light {
        @extend .coordinate-col;
        color: $color-side-black;
      }
      &-dark {
        @extend .coordinate-col;
        color: $color-side-white;
      }
    }
  }

  .possible-move {
    position: absolute;
    opacity: 50%;

    border-radius: 100%;
    transition: 300ms;
    cursor: pointer;

    &-attack {
      @extend .possible-move;

      box-sizing: border-box;
      width: $cell-size;
      height: $cell-size;

      border: calc($cell-size/10) solid black;

      &:hover {
        border: calc($cell-size/2) solid black;
      }
    }
    &-empty {
      @extend .possible-move;
      background-color: black;

      width: calc($cell-size * 0.4);
      height: calc($cell-size * 0.4);

      &:hover {
        width: calc($cell-size * 0.6);
        height: calc($cell-size * 0.6);
      }
    }
  }
}

.last-move {
  box-shadow: inset 0px 0px 49px -11px rgba(209, 178, 3, 0.678);
}
.attack {
  box-shadow: inset 0px 0px 49px -11px rgba(250, 97, 97, 0.658);
}
.checked {
  box-shadow: inset 0px 0px 74px -24px rgba(253, 0, 46, 1);
}

.corner-top-left {
  border-top-left-radius: 5px;
}
.corner-top-right {
  border-top-right-radius: 5px;
}
.corner-bottom-left {
  border-bottom-left-radius: 5px;
}
.corner-bottom-right {
  border-bottom-right-radius: 5px;
}
