@import "../../utils/style/variables";

.board {
  position: absolute;
  display: flex;
  flex-direction: column;

  border-radius: 8px;
  border: 2px solid $interface-color-secondary-shaded;

  overflow: hidden;

  .row-wrapper {
    display: flex;
    flex-direction: row;
  }
}
.board-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: calc(20px + 8 * $cell-size);
  height: calc(20px + 8 * $cell-size);

  border-radius: 17px;
  border: 2px solid $interface-color-main;

  box-shadow: 0px 12px 20px 0px $interface-color-main-shaded;

  .side-marker {
    width: 100%;
    height: 100%;
    transition: 1s;
    border-radius: 15px;
    &-black {
      @extend .side-marker;
      background-color: $color-side-black;
    }
    &-white {
      @extend .side-marker;
      background-color: $color-side-white;
    }
  }
}
