.board {
  position: absolute;
  display: flex;
  flex-direction: column;

  border-radius: 8px;
  border: 2px solid black;

  overflow: hidden;

  .row-wrapper {
    display: flex;
    flex-direction: row;
  }
}
.board-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 820px;
  height: 820px;

  border-radius: 17px;
  border: 2px solid darkgray;

  box-shadow: 0px 12px 20px 0px rgb(89, 89, 90);
  .side-marker {
    width: 100%;
    height: 100%;
    transition: 1s;
    border-radius: 15px;
    &-black {
      @extend .side-marker;
      background-color: gray;
    }
    &-white {
      @extend .side-marker;
      background-color: bisque;
    }
  }
}
