.promotion-dialog {
  --column-number: 0;

  position: absolute;

  display: flex;
  
  justify-content: space-between;
  align-items: center;
  
  background-color: white;

  
  left: calc(var(--column-number)*100px);

  overflow: visible;
  z-index: 1000;

  box-shadow: 1px 7px 34px -11px rgba(27, 27, 27, 1);
  transition: 150ms;

  .piece-click {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 100px;
    width: 100px;
  }

  .close-dialog { 
    display: flex;
    align-items: center;
    justify-content: center;

    height: 50px;
    width: 100px;
    background-color: lightgray;
    .cross-icon {
      width: 26px;
      height: 26px;
      fill: gray;

      transition: 150ms;
      &:hover {
        width: 32px;
        height: 32px;
      }
    }
    
  }
}
.side-white {
  flex-direction: column;
  top: 0;
}
.side-black { 
  flex-direction: column-reverse;
  top: 350px;
}
.promotion-dialog-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: visible;
}

