@import "../../utils/style/variables";
.piece {
  display: flex;
  color: black;
  cursor: grab;

  .icon {
    justify-self: center;
    width: calc($cell-size * 0.88);
    height: calc($cell-size * 0.88);
    transition: 150ms;
    &-white {
      @extend .icon;
      fill: white;
    }
  }

  &:hover {
    .icon {
      width: calc($cell-size * 0.96);
      height: calc($cell-size * 0.96);
    }
  }
}
