.piece-icon-box {
  cursor: grab;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  width: 80px;
  height: 80px;
}
.piece-icon-box.non-draggable {
  transition: 150ms ease-in-out;

  &:hover {
    background-color: rgb(173, 173, 173);
  }
}
.piece {
  z-index: 100;
  position: relative;
  bottom: -3px;

  width: 80px;
  height: 80px;
  paint-order: stroke;

  stroke-width: 1px;
  stroke: #202020;

  transition: 150ms ease-in-out;
  &-white {
    @extend .piece;
    fill: #d9d9d9;
  }
  &-black {
    @extend .piece;
    fill: #444;
  }
}
.active {
  position: absolute;
  filter: drop-shadow(0px 12px 12px #000000fc);
  z-index: 1000;
  width: 90px;
  height: 90px;

  .piece {
    height: 90px;
    width: 90px;
  }
}
