@import "../../utils/style/variables";
.piece {
  display: flex;
  color: black;
  cursor: grab;

  .icon {
    justify-self: center;
    width: calc($cell-size * 0.88);
    height: calc($cell-size * 0.88);
    transition: 150ms;
    stroke-width: 1px;
    paint-order: stroke;
    &-white {
      @extend .icon;
      fill: #d9d9d9;
      stroke: #202020;
    }
    &-black {
      @extend .icon;
      fill: #444444;
      stroke: #202020;
    }
  }

  &:hover {
    .icon {
      width: calc($cell-size * 0.96);
      height: calc($cell-size * 0.96);
    }
  }
}
